.venv
.idea
/novas_features/
/src/features/*.pt
/src/features_teste/*.pt
/src/features_val/*.pt
/src/python/__pycache__/
/src/videos/*.mp4
src/python/logs/*.log
src/ray_results/
.vscode
/src/videos/*.zip